input[type="radio"] {
  display: none;
}

.radio-custom::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #DFE9F9;
  background: none;
}

input[type="radio"]:checked + .radio-custom::before {
  border: none;
  background-color: #EC722B;
}

.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkbox-box {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box {
  background-color: #EC722B;
  border-color: #EC722B;
}

.custom-checkbox svg {
  width: 100%;
  height: 100%;
  fill: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box svg {
  opacity: 1;
}

.bg-custom::before {
  content: '';
  @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
  background-image: url('/img/picture/bg-mobile.png');
}

@media (min-width: 768px) {
  .bg-custom::before {
    background-image: none;
  }
}

@layer base {
  .clipped-div {
    background-color: rgba(106, 108, 122, 0.5);
    width: 100%;
    height: 80px;
    clip-path: polygon( 72.046% 0%,72.046% 0%,70.78% 0.032%,69.587% 0.255%,68.457% 0.86%,67.382% 2.039%,66.351% 3.982%,65.356% 6.881%,64.388% 10.926%,63.438% 16.31%,62.496% 23.222%,61.553% 31.855%,61.553% 31.855%,61.134% 35.617%,60.594% 40.273%,59.918% 45.52%,59.089% 51.054%,58.091% 56.571%,56.907% 61.769%,55.523% 66.343%,53.921% 69.99%,52.085% 72.407%,50% 73.289%,50% 73.289%,47.915% 72.407%,46.079% 69.99%,44.477% 66.343%,43.093% 61.769%,41.909% 56.571%,40.911% 51.054%,40.082% 45.52%,39.406% 40.273%,38.866% 35.617%,38.447% 31.855%,38.447% 31.855%,37.502% 23.222%,36.558% 16.31%,35.606% 10.926%,34.637% 6.881%,33.642% 3.982%,32.612% 2.039%,31.537% 0.86%,30.408% 0.255%,29.217% 0.032%,27.954% 0%,0% 0%,0% 100%,49.964% 100%,50.036% 100%,100% 100%,100% 0%,72.046% 0% );
  }
}

@layer base {
  p {
    @apply m-0;
  }
  input:focus {
    @apply outline-none ring-0;
  }
  svg {
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  .keyb {
    touch-action: manipulation;
  }
  .keyb {
    pointer-events: auto;
  }
}

html {
  @apply overflow-x-hidden;
}

.group_stroke:hover .hover-target path {
  fill: #ec722b;
  stroke: #ec722b;
}

.group:hover .hover-target path {
  fill: #ec722b;
  stroke: #ec722b;
  stroke-width: 0.1; 
}

.group:hover .hover-target .st0 {
  stroke: #ec722b;
  stroke-width: 0.1; 
}

.group_white:hover .hover-target path {
  fill: #ffffff;
  stroke: #ffffff;
}
 
.hover_btn_transp {
  @apply hover:text-white;
}

.hover_btn_white {
  @apply hover:border-[#ec722b] hover:text-white;
}

.list_item {
  @apply border border-[rgba(255,255,255,0.9)] rounded-[5px] list-none whitespace-nowrap hover:border-transparent snap-start;
}

.list_link {
  @apply  block rounded-[5px] px-[13px] py-[5px] md:px-[15px] md:py-1.5 font-normal text-base tracking-[0.02em] text-[#dfe9f9] no-underline transition-colors duration-500 hover:bg-[rgba(106,108,122,0.5)] active:bg-[#ec722b];
}

.title {
  @apply flex md:justify-between items-center gap-5;
}

.title_name {
 @apply md:mb-[17px] text-[16px] font-bold md:text-[20px] uppercase text-[#ec722b];
}

.subtitle {
  @apply hidden md:block font-normal text-xs text-white;
}

@layer components {
  .menu_items {
    @apply gap-5 pb-5 pt-2.5 md:pt-5 md:pb-6 flex md:justify-between flex-wrap;
  }
}

.menu_item {
  @apply flex flex-col justify-between w-[164px] md:w-[340px] lg:w-[278px] overflow-hidden relative transition-transform hover:scale-105 duration-700 cursor-pointer;
}

.descr {
  @apply  h-[34px] md:h-11 -mt-8 md:mt-[-43px] bg-black flex justify-around items-center font-normal text-xs md:text-base tracking-[0.02em] text-white px-[5px] md:px-2.5;
}

@layer components {
  .menu_item-title {
    @apply grow font-normal text-[15px] md:text-base tracking-[0.02em] text-[#dfe9f9] md:h-[46px] mt-3 mb-2 md:mt-[17px] md:mb-3 md:leading-normal;
  }
}

.rating {
  @apply flex items-center justify-between;
}
.rating_img {
  @apply mt-[5px] mr-0 md:mr-2.5;
}
.menu_items_btn {
  @apply flex items-center justify-center text-white border-[1.39px] border-[rgba(255,255,255,0.9)] rounded-[7px] px-[19px] py-[3px] md:py-1.5 gap-2.5 md:gap-[13px] cursor-pointer;
}
.heart_card {
  @apply absolute top-[15px] md:top-5 right-2.5 md:right-[15px] cursor-pointer active:fill-white hover:fill-white focus:fill-white transition-all duration-1000;
}
.counter {
  @apply font-normal text-base md:text-[22px] tracking-[0.02em] text-[#ec722b];
}
.category_item {
  @apply flex flex-col justify-center items-center w-[142px] h-[142px] bg-[#B0BCCE] rounded-full text-center transition-all duration-500 cursor-pointer hover:bg-[#ec722b] active:bg-[#ec722b] mb-[15px];
}
.nav_bottom {
  @apply hover:fill-[#ec722b] active:fill-[#ec722b];
}

@layer components {
  .filter_btn {
    @apply font-normal text-[20px] tracking-[0.02em] text-[#dfe9f9];
  }
}

.filter_item {
  @apply border border-[#dfe9f9] rounded-[5px] px-[15px] py-1.5 h-[31px] text-[16px] leading-[17px] font-normal tracking-[0.02em] text-[#dfe9f9] hover:bg-[#ec722b] active:bg-[#ec722b] hover:border-none active:border-none;
}
.filter_title {
  @apply w-full font-bold text-[16px] tracking-[0.02em] text-[#ec722b];
}

.favorites_title {
  @apply font-normal text-[16px] tracking-[0.02em] text-[#dfe9f9] w-[140px];
}

.favorites_weight {
  @apply font-normal text-[14px] tracking-[0.02em] text-[#dfe9f9];
}
.favorites_price {
  @apply font-bold text-[20px] text-[#ec722b];
}

.label {
  @apply font-normal text-[16px] text-[#dfe9f9] w-[110px];
}
.input {
  @apply border border-[#b0bcce] rounded-[3px] w-[170px] h-[27px] px-2.5 bg-transparent text-[#dfe9f9] focus:border-[#b0bcce] active:border-[#b0bcce] focus:outline-[#b0bcce];
}
@layer components {
  .cart_btn {
    @apply bg-transparent rounded-[10px] border-none w-full h-14 mt-[26px] font-semibold text-[17px] text-white text-center flex justify-center items-center gap-[25px] transition-all duration-700;
  }
}
.cart_input {
  @apply bg-transparent border-none text-white text-[20px] font-normal h-10 w-full  focus:outline-[#b0bcce];
}
.cart_label {
  @apply font-normal text-[16px] text-white;
}
@layer components {
  .keyb {
    @apply bg-transparent w-[30%] h-10 rounded-[5px] flex justify-center items-center text-white font-semibold text-[24px] cursor-pointer transition-all duration-500 touch-auto;
  }
}

.calend_days {
  @apply text-center p-2 rounded-[5px] font-light text-[16px] text-[#dfe9f9] hover:bg-[#ec722b] hover:text-white active:bg-[#ec722b] active:text-white focus:bg-[#ec722b] focus:text-white;
}
.calend_mon {
  @apply font-medium text-[16px] text-[#ec722b] text-center;
}
.service_time {
  @apply 
    border 
    border-[#dfe9f9] 
    rounded-[5px] 
    py-2 
    px-3.5 
    font-light 
    text-[15px] 
    text-[#dfe9f9] 
    hover:border-[#ec722b] 
    hover:text-[#ec722b] 
    hover:font-extrabold 
    active:border-[#ec722b] 
    active:text-[#ec722b] 
    active:font-extrabold 
    focus:border-[#ec722b] focus:text-[#ec722b] focus:font-extrabold ;
}
.no-blur {
  backdrop-filter: none !important;
}