@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-slide-up {
    animation: slide-up 1s ease-in-out forwards;
  }
}

input[type="radio"] {
  display: none;
}

.radio-custom::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #DFE9F9;
  background: none;
}

input[type="radio"]:checked + .radio-custom::before {
  border: none;
  background-color: #EC722B;
}

.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkbox-box {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box {
  background-color: #EC722B;
  border-color: #EC722B;
}

.custom-checkbox svg {
  width: 100%;
  height: 100%;
  fill: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box svg {
  opacity: 1;
}

.bg-custom::before {
  content: '';
  @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
  background-image: url('/images/picture/bg-mobile.png');
}

@media (min-width: 768px) {
  .bg-custom::before {
    background-image: none;
  }
}

@layer base {
  .clipped-div {
    background-color: rgba(106, 108, 122, 0.5);
    width: 100%;
    height: 80px;
    clip-path: polygon( 72.046% 0%,72.046% 0%,70.78% 0.032%,69.587% 0.255%,68.457% 0.86%,67.382% 2.039%,66.351% 3.982%,65.356% 6.881%,64.388% 10.926%,63.438% 16.31%,62.496% 23.222%,61.553% 31.855%,61.553% 31.855%,61.134% 35.617%,60.594% 40.273%,59.918% 45.52%,59.089% 51.054%,58.091% 56.571%,56.907% 61.769%,55.523% 66.343%,53.921% 69.99%,52.085% 72.407%,50% 73.289%,50% 73.289%,47.915% 72.407%,46.079% 69.99%,44.477% 66.343%,43.093% 61.769%,41.909% 56.571%,40.911% 51.054%,40.082% 45.52%,39.406% 40.273%,38.866% 35.617%,38.447% 31.855%,38.447% 31.855%,37.502% 23.222%,36.558% 16.31%,35.606% 10.926%,34.637% 6.881%,33.642% 3.982%,32.612% 2.039%,31.537% 0.86%,30.408% 0.255%,29.217% 0.032%,27.954% 0%,0% 0%,0% 100%,49.964% 100%,50.036% 100%,100% 100%,100% 0%,72.046% 0% );
  }
}

@layer base {
  p {
    @apply m-0;
  }
  input:focus {
    @apply outline-none ring-0;
  }
  svg {
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  .keyb {
    touch-action: manipulation;
  }
  .keyb {
    pointer-events: auto;
  }
}

html {
  @apply overflow-x-hidden;
}

.group_stroke:hover .hover-target path {
  fill: #ec722b;
  stroke: #ec722b;
}

.group:hover .hover-target path {
  fill: #ec722b;
  stroke: #ec722b;
  stroke-width: 0.1; 
}

.group:hover .hover-target .st0 {
  stroke: #ec722b;
  stroke-width: 0.1; 
}

.group_white:hover .hover-target path {
  fill: #ffffff;
  stroke: #ffffff;
}
 
.hover_btn_transp {
  @apply hover:bg-btn_hover hover:text-white;
}

.hover_btn_white {
  @apply hover:border-[#ec722b] hover:text-white;
}

.list_item {
  @apply 
    border 
    border-custom_white 
    list-none 
    whitespace-nowrap 
    hover:border-transparent 
    snap-start 
    rounded-md;
}

.list_link {
  @apply 
    block 
    px-3.25 
    py-1.25 
    md:px-3.75 
    md:py-1.5 
    font-normal 
    text-base 
    tracking-[0.02em] 
    text-paper 
    no-underline 
    transition-colors 
    duration-500 
    hover:bg-[rgba(106,108,122,0.5)] 
    active:bg-[#ec722b] 
    rounded-md;
}

.title {
  @apply 
    flex 
    md:justify-between 
    items-center 
    gap-5;
}

.title_name {
  @apply 
    text-[16px] 
    font-bold 
    md:text-[20px] 
    uppercase 
    text-[#ec722b];
}

.subtitle {
  @apply 
    hidden 
    md:block 
    font-normal 
    text-xs 
    text-white;
}

@layer components {
  .menu_items {
    @apply 
      gap-5 
      pb-5 
      pt-2.5 
      md:pt-5 
      md:pb-6 
      flex 
      justify-center 
      md:justify-between 
      flex-wrap;
  }
}

.menu_item {
  @apply flex flex-col justify-between w-41 md:w-85 md_wide:w-55 lg:w-69.5 overflow-hidden relative transition-transform hover:scale-105 duration-700 cursor-pointer;
}

.descr {
  @apply relative z-10 h-8.5 md:h-11 -mt-8 md:-mt-10.75 bg-custom_black flex justify-around items-center font-normal text-xs md:text-base tracking-[0.02em] text-white px-1.25 md:px-2.5;
}

@layer components {
  .menu_item-title {
    @apply grow font-normal text-[15px] md:text-base tracking-[0.02em] text-paper md:h-11.5 mt-3 mb-2 md:mt-4.25 md:mb-3 md:leading-normal;
  }
}

.rating {
  @apply flex items-center justify-between;
}
.rating_img {
  @apply mt-1.25 mr-0 md:mr-2.5;
}
.menu_items_btn {
  @apply flex items-center justify-center text-white border-[1.39px] border-custom_white rounded-[7px] px-4.75 py-0.75 md:py-1.5 gap-2.5 md:gap-3.25 cursor-pointer hover:border-custom_orange;
}
.heart_card {
  @apply absolute top-3.75 md:top-5 right-2.5 md:right-3.75 cursor-pointer active:fill-white hover:fill-white focus:fill-white transition-all duration-1000;
}
.counter {
  @apply font-normal text-base md:text-[22px] tracking-[0.02em] text-[#ec722b];
}
.category_item {
  @apply flex flex-col justify-center items-center w-35.5 h-35.5 bg-[#B0BCCE] rounded-full text-center transition-all duration-500 cursor-pointer hover:bg-[#ec722b] active:bg-[#ec722b] mb-3.75;
}
.nav_bottom {
  @apply hover:fill-[#ec722b] active:fill-[#ec722b];
}

@layer components {
  .filter_btn {
    @apply font-normal text-[20px] tracking-[0.02em] text-paper;
  }
}

.filter_item {
  @apply border border-paper rounded-[5px] px-3.75 py-1.5 h-7.75 text-[16px] leading-4.25 font-normal tracking-[0.02em] text-paper hover:bg-[#ec722b] active:bg-[#ec722b] hover:border-none active:border-none;
}
.filter_title {
  @apply w-full font-bold text-[16px] tracking-[0.02em] text-[#ec722b];
}

.favorites_title {
  @apply font-normal text-[16px] tracking-[0.02em] text-paper w-35;
}

.favorites_weight {
  @apply font-normal text-[14px] tracking-[0.02em] text-paper;
}
.favorites_price {
  @apply font-bold text-[20px] text-[#ec722b];
}

.tr {
  @apply flex items-center;
}
.td {
  @apply flex items-center;
}

.label {
  @apply font-normal text-[16px] text-paper w-27.5
}
.input {
  @apply border border-muted rounded-[3px] w-42.5 h-6.75 px-2.5 bg-transparent text-paper focus:border-muted active:border-muted focus:outline-muted;
}
@layer components {
  .cart_btn {
    @apply bg-custom_transparent rounded-[10px] border-none w-full h-14 mt-6.5 font-semibold text-[17px] text-white text-center flex justify-center items-center gap-6.25 hover:bg-custom_btnorange active:bg-custom_btnorange transition-all duration-700;
  }
}
.cart_input {
  @apply 
    bg-transparent 
    border-none 
    text-white 
    text-[20px] 
    font-normal 
    h-10 
    w-full 
    focus:outline-muted;
}
.cart_label {
  @apply 
    font-normal 
    text-[16px] 
    text-white;
}
@layer components {
  .keyb {
    @apply 
      bg-custom_transparent 
      w-30%-gap 
      h-10 
      rounded-[5px] 
      flex 
      justify-center 
      items-center 
      text-white 
      font-semibold 
      text-[24px] 
      cursor-pointer 
      hover:bg-custom_btnorange 
      active:bg-custom_btnorange 
      transition-all 
      duration-500 
      touch-auto;
  }
}

.calend_days {
  @apply 
    text-center 
    p-2 
    rounded-[5px] 
    font-light 
    text-[16px] 
    text-paper 
    hover:bg-[#ec722b] 
    hover:text-white 
    active:bg-[#ec722b] 
    active:text-white 
    focus:bg-[#ec722b] 
    focus:text-white;
}
.calend_mon {
  @apply 
    font-medium 
    text-[16px] 
    text-[#ec722b] 
    text-center;
}
.service_time {
  @apply 
    border 
    border-paper 
    rounded-[5px] 
    py-2 
    px-3.5 
    font-light 
    text-[15px] 
    text-paper 
    hover:border-[#ec722b] 
    hover:text-[#ec722b] 
    hover:font-extrabold 
    active:border-[#ec722b] 
    active:text-[#ec722b] 
    active:font-extrabold 
    focus:border-[#ec722b] focus:text-[#ec722b] focus:font-extrabold ;
}
.no-blur {
  backdrop-filter: none !important;
}