NEXT_PUBLIC_ONEENTRY_URL=https://your-project.oneentry.cloud
NEXT_PUBLIC_ONEENTRY_TOKEN=your-app-token

NEXT_PUBLIC_VERCEL_URL="https://xxx-xxx-xxx.vercel.app/"

# Google OAuth secrets
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
